/*
 *
 * Common
 *
 *
*/

* {
  box-sizing: border-box;
}

body {
  font: 14px Roboto, Raleway;
  width: 100%;
  margin: 0;
  padding: 8px;
  background-color: #EAE7DC;
  color: #8E8D8A;
}

.base-color {
  color: #EAE7DC;
}

.color-theme-1 {
  color: #D8C3A5;
}

.color-theme-2 {
  color: #8E8D8A;
}

.accent-color-1 {
  color: #E98074;
}

.accent-color-2 {
  color: #E85A4F;
}
/*
 *
 * Header
 *
 *
*/

.header-text {
  font-size: 2em;
}

hr {
  border-width: 1px;
  border-style: solid;
}

main {
  margin: 5px;
}

a {
  text-decoration: none;
  font-size: .75em;
}

.name {
  width: 50%;
  display: inline-block;
  float: left;
}

.price {
  width: 50%;
  float: right;
}

.flash {
  background: #D8C3A5;
}
