/*
 *
 * Common
 *
 *
*/

* {
  box-sizing: border-box;
}

body {
  font: 14px Roboto, Raleway;
  width: 100%;
  margin: 0;
  padding: 8px;
  background-color: #EAE7DC;
  color: #8E8D8A;
}

.base-color {
  color: #EAE7DC;
}

.color-theme-1 {
  color: #D8C3A5;
}

.color-theme-2 {
  color: #8E8D8A;
}

.accent-color-1 {
  color: #E98074;
}

.accent-color-2 {
  color: #E85A4F;
}

/*
 *
 * Header
 *
 *
*/

.header-text {
  font-size: 1.5em;
}

hr {
  border-width: 1px;
  border-style: solid;
}

/*
 *
 * Body
 *
 *
*/

main {
  margin: 5px;
}

a {
  text-decoration: none;
}

.flash {
  background: #D8C3A5;
}

.create-link,
.menu-link,
.modify-link,
.cancel-link {
  line-height: 2em;
}

.restaurant-group {
  border: 1px solid #D8C3A5;
  border-radius: 8px;
  margin-bottom: 10px;
}

.name-price-group {
  padding-left: 0.5em;
  font-size: 1.25em;
}

.name {
  width: 50%;
  display: inline-block;
  float: left;
}

.price {
  width: 50%;
  float: right;
}

.menu-link {
  padding-left: 0.5em;
}

.edit-delete-group {
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}

.create-button {
  border-radius: 5px;
  border-color: #D8C3A5;
  background-color: #EAE7DC;
  line-height: 2em;
  margin-top: 10px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #D8C3A5;
  border-radius: 4px;
}