{% extends "layout.html" %}

{% block body %}

<h2>{{restaurantName}}</h2>
<h3>Edit menu item</h3>

<form action="{{url_for('editMenuItem', restaurant_id = menuItem.restaurant_id, menu_id = menuItem.id )}}" method='POST'>
  <div class="details-group">
    <label for="name">Name</label>
    <input type='text' id="name" name='name' value="{{menuItem.name}}" required>

    <label for="price">Price</label>
    <input type='text' id="price" name='price' value="{{menuItem.price}}" required>

    <label for="description">Description</label>
    <textarea id="description" name='description'>{{menuItem.description}}</textarea>

    <label for="course">Course</label>
    <select id="course" name="course">
      {% if menuItem.course == 'Appetizer' %}
      <option value="Appetizer" selected>Appetizer</option>
      {%else%}
      <option value="Appetizer">Appetizer</option>
      {% endif %}

      {% if menuItem.course == 'Entree' %}
      <option value="Entree" selected>Entree</option>
      {%else%}
      <option value="Entree">Entree</option>
      {% endif %}

      {% if menuItem.course == 'Dessert'%}
      <option value="Dessert" selected>Dessert</option>
      {% else %}
      <option value="Dessert">Dessert</option>
      {% endif %}

      {%if menuItem.course =='Beverage'%}
      <option value="Beverage" selected>Beverage</option>
      {% else %}
      <option value="Beverage">Beverage</option>
      {% endif %}
    </select>
  </div>

  <input class="save-button accent-color-2" type='submit' value='Save'>
</form>

<a class="cancel-link accent-color-1" href="{{url_for('showMenu', restaurant_id = menuItem.restaurant_id)}}">Cancel</a>

{% endblock %}