{% extends "menu.html" %}

{% block restaurant_edit_block %}
<p>
  <a class="create-link accent-color-1" href="{{url_for('newMenuItem', restaurant_id = restaurant.id)}}">Add a new menu item</a>
  <span>&#9702;</span>
  <a class="modify-link accent-color-1" href="{{url_for('editRestaurant', restaurant_id = restaurant.id)}}">Edit restaurant</a>
  <span>&#9702;</span>
  <a class="modify-link accent-color-1" href="{{url_for('deleteRestaurant', restaurant_id = restaurant.id)}}">Delete restaurant</a>
</p>
{% endblock %}

{% block menu_edit_block %}
<div class="edit-delete-group">
  <a class="modify-link accent-color-1" href="{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = menuItem.id)}}">Edit</a>
  <span>&#9702;</span>
  <a class="modify-link accent-color-1" href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = menuItem.id)}}">Delete</a>
</div>
{% endblock %}