{% extends "layout.html" %}

{% block body %}

<h2>{{restaurant.name}}</h2>
<h3>Edit Details</h3>

<form action="{{url_for('editRestaurant', restaurant_id = restaurant.id)}}" method='POST'>
  <div class="details-group">
    <label for="name">Name</label>
    <input type='text' id="name" name='name' value="{{restaurant.name}}" required>
  </div>

  <input class="save-button accent-color-2" type='submit' value='Save'>
</form>

<a class="cancel-link cancel-link accent-color-1" href="{{url_for('showRestaurants')}}">Cancel</a>

{% endblock %}