{% extends "layout.html" %}

{% block body %}

<h2>{{restaurantName}}</h2>
<h3>Edit menu item</h3>

<form action="{{url_for('editMenuItem', restaurant_id = menuItem.restaurant_id, menu_id = menuItem.id )}}" method='POST'>
  <dl>
    <dt>Name:</dt>
    <dd><input type='text' size='30' name='name' placeholder="{{menuItem.name}}"></dd>

    <dt>Price:</dt>
    <dd><input type='text' size='8' name='price' placeholder='{{menuItem.price}}'></dd>

    <dt>Description:</dt>
    <dd><input type='text' size='30' name='description' placeholder="{{menuItem.description}}"></dd>

    <dt>Course:</dt>
    {% if menuItem.course == 'Appetizer' %}
    <dd><input type='radio' name='course' value='Appetizer' checked>Appetizer</dd>
    {%else%}
    <dd><input type='radio' name='course' value='Appetizer'>Appetizer</dd>
    {% endif %}

    {% if menuItem.course == 'Entree' %}
    <dd><input type='radio' name='course' value='Entree' checked>Entree</dd>
    {%else%}
    <dd><input type='radio' name='course' value='Entree'>Entree</dd>
    {% endif %}

    {% if menuItem.course == 'Dessert'%}
    <dd><input type='radio' name='course' value='Dessert' checked>Dessert</dd>
    {% else %}
    <dd><input type='radio' name='course' value='Dessert'>Dessert</dd>
    {% endif %}

    {%if menuItem.course =='Beverage'%}
    <dd><input type='radio' name='course' value='Beverage' checked>Beverage</dd>
    {% else %}
    <dd><input type='radio' name='course' value='Beverage'>Beverage</dd>
    {% endif %}
  </dl>

  <input type='submit' value='Save'>

  <a class="cancel-link accent-color-1" href="{{url_for('showMenu', restaurant_id = menuItem.restaurant_id)}}">Cancel</a>
</form>

{% endblock %}