{% extends "layout.html" %}

{% block body %}

<h2>{{restaurant.name}}</h2>

<div class="flash">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li><strong>{{message}}</strong></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</div>

<p>
  <a class="create-link accent-color-1" href="{{url_for('newMenuItem', restaurant_id = restaurant.id)}}">Add a new menu item</a>
  <span>&#9702;</span>
  <a class="modify-link accent-color-1" href="{{url_for('editRestaurant', restaurant_id = restaurant.id)}}">Edit restaurant</a>
  <span>&#9702;</span>
  <a class="modify-link accent-color-1" href="{{url_for('deleteRestaurant', restaurant_id = restaurant.id)}}">Delete restaurant</a>
</p>

{% if appetizers %}
<h3>Appetizers</h3>

<div class="food-list">
  {% for menuItem in appetizers %}

  <div class="menu-item-group">
    <div class="name-price-group">
      <span class="name"><p>{{menuItem.name}}</p></span>
      <span class="price"><p>{{menuItem.price}}</p></span>
    </div>
    <div class="description">
      <p class="color-theme-2">{{menuItem.description}}</p>
    </div>
    <div class="edit-delete-group">
      <a class="modify-link accent-color-1" href="{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = menuItem.id)}}">Edit</a>
      <span>&#9702;</span>
      <a class="modify-link accent-color-1" href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = menuItem.id)}}">Delete</a>
    </div>
  </div>

  {% endfor %}
</div>

<br />
{% endif %}

{% if entrees %}
<h3>Entrees</h3>

<div class="food-list">
  {% for menuItem in entrees %}

  <div class="menu-item-group">
    <div class="name-price-group">
      <span class="name"><p>{{menuItem.name}}</p></span>
      <span class="price"><p>{{menuItem.price}}</p></span>
    </div>
    <div class="description">
      <p class="color-theme-2">{{menuItem.description}}</p>
    </div>
    <div class="edit-delete-group">
      <a class="modify-link accent-color-1" href="{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = menuItem.id)}}">Edit</a>
      <span>&#9702;</span>
      <a class="modify-link accent-color-1" href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = menuItem.id)}}">Delete</a>
    </div>
  </div>

  {% endfor %}
</div>

<br />
{% endif %}

{% if desserts %}
<h3>Desserts</h3>

<div class="food-list">
  {% for menuItem in desserts %}

  <div class="menu-item-group">
    <div class="name-price-group">
      <span class="name"><p>{{menuItem.name}}</p></span>
      <span class="price"><p>{{menuItem.price}}</p></span>
    </div>
    <div class="description">
      <p class="color-theme-2">{{menuItem.description}}</p>
    </div>
    <div class="edit-delete-group">
      <a class="modify-link accent-color-1" href="{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = menuItem.id)}}">Edit</a>
      <span>&#9702;</span>
      <a class="modify-link accent-color-1" href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = menuItem.id)}}">Delete</a>
    </div>
  </div>

  {% endfor %}
</div>

<br />
{% endif %}

{% if beverages %}
<h3>Beverages</h3>

<div class="food-list">
  {% for menuItem in beverages %}

  <div class="menu-item-group">
    <div class="name-price-group">
      <span class="name"><p>{{menuItem.name}}</p></span>
      <span class="price"><p>{{menuItem.price}}</p></span>
    </div>
    <div class="description">
      <p class="color-theme-2">{{menuItem.description}}</p>
    </div>
    <div class="edit-delete-group">
      <a class="modify-link accent-color-1" href="{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = menuItem.id)}}">Edit</a>
      <span>&#9702;</span>
      <a class="modify-link accent-color-1" href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = menuItem.id)}}">Delete</a>
    </div>
  </div>

  {% endfor %}
</div>

<br />
{% endif %}

<a class="accent-color-1" href="{{url_for('showRestaurants')}}">Back to restaurants list</a>

{% endblock %}
