{% extends "layout.html" %}

{% block body %}

<div class="pane">
  <div class="header">
    <h1>{{restaurant.name}}</h1>
  </div>

  <div class="flash">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li><strong>{{message}}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>

  <p>
    <a href="{{url_for('newMenuItem', restaurant_id = restaurant.id)}}">Add a new menu item</a>
  </p>

  {% if appetizers %}
  <h2>Appetizers</h2>
  {% for menuItem in appetizers %}

  <div class="nameAndPrice">
    <span class="name"><p>{{menuItem.name}}</p></span>
    <span class="price"><p>{{menuItem.price}}</p></span>
  </div>
  <div class="description">
    <p>{{menuItem.description}}</p>
  </div>
  <div class="editdeletepane">
    <a href="{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = menuItem.id)}}">Edit</a>
    <a href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = menuItem.id)}}">Delete</a>
  </div>

  {% endfor %}
  <br />
  {% endif %}

  {% if entrees %}
  <h2>Entrees</h2>
  {% for menuItem in entrees %}

  <div class="nameAndPrice">
    <span class="name"><p>{{menuItem.name}}</p></span>
    <span class="price"><p>{{menuItem.price}}</p></span>
  </div>
  <div class="description">
    <p>{{menuItem.description}}</p>
  </div>
  <div class="editdeletepane">
    <a href="{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = menuItem.id)}}">Edit</a>
    <a href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = menuItem.id)}}">Delete</a>
  </div>

  {% endfor %}
  <br />
  {% endif %}

  {% if desserts %}
  <h2>Desserts</h2>
  {% for menuItem in desserts %}

  <div class="nameAndPrice">
    <span class="name"><p>{{menuItem.name}}</p></span>
    <span class="price"><p>{{menuItem.price}}</p></span>
  </div>
  <div class="description">
    <p>{{menuItem.description}}</p>
  </div>
  <div class="editdeletepane">
    <a href="{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = menuItem.id)}}">Edit</a>
    <a href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = menuItem.id)}}">Delete</a>
  </div>

  {% endfor %}
  <br />
  {% endif %}

  {% if beverages %}
  <h2>Beverages</h2>
  {% for menuItem in beverages %}

  <div class="nameAndPrice">
    <span class="name"><p>{{menuItem.name}}</p></span>
    <span class="price"><p>{{menuItem.price}}</p></span>
  </div>
  <div class="description">
    <p>{{menuItem.description}}</p>
  </div>
  <div class="editdeletepane">
    <a href="{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = menuItem.id)}}">Edit</a>
    <a href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = menuItem.id)}}">Delete</a>
  </div>

  {% endfor %}
  <br />
  {% endif %}

  <a href="{{url_for('showRestaurants')}}">Back to restaurants list</a>
</div>

{% endblock %}
