{% extends "layout.html" %}

{% block body %}

<h2>{{restaurant.name}}</h2>
<h3>Create a new menu item</h3>

<form action="{{url_for('newMenuItem', restaurant_id=restaurant.id )}}" method='POST'>
  <div class="details-group">
    <label for="name">Name</label>
    <input type='text' id="name" name='name' placeholder="New menu item" required>

    <label for="price">Price</label>
    <input type='text' id="price" name='price' placeholder="Price of new menu item" required>

    <label for="description">Description</label>
    <textarea id="description" name='description'></textarea>

    <label for="course">Course</label>
    <select id="course" name="course">
      <option value="Appetizer">Appetizer</option>
      <option value="Entree" selected>Entree</option>
      <option value="Dessert">Dessert</option>
      <option value="Beverage">Beverage</option>
    </select>
  </div>

  <input class="create-button accent-color-2" type='submit' value='Create'>

</form>
<a class="cancel-link accent-color-1" href="{{url_for('showMenu', restaurant_id = restaurant.id)}}">Cancel</a>

{% endblock %}
