{% extends "layout.html" %}

{% block body %}

<div class="flash">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li><strong>{{message}}</strong></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</div>

<div class="restaurant-actions">
  <div class="create-block">
    {% block restaurant_create_block %}
    {% endblock %}
  </div>

  <form class="search-form" action="{{url_for('searchResult')}}" method='POST'>
    <input class="search-field" type='text' name='search-keyword' placeholder="Search for restaurant or food..." required>
    <input class="search-button accent-color-2" type='submit' value=&#128270;>
  </form>
</div>

<div class="restaurant-list">
  {% for restaurant in restaurants %}
  <a class="color-theme-2 restaurant-group" href="{{url_for('showMenu', restaurant_id = restaurant.id)}}">
    <div class="restaurant-name">
      <p>{{restaurant.name}}</p>
      <p class="restaurant-address accent-color-1">{{restaurant.address}}</p>
    </div>
  </a>

  {% endfor %}
</div>

{% endblock %}