{% extends "layout.html" %}

{% block body %}

<div class="flash">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li><strong>{{message}}</strong></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</div>

<p>
  <a class="create-link accent-color-1" href="{{url_for('newRestaurant')}}">Create a new restaurant</a>
</p>

{% for restaurant in restaurants %}

<div class="restaurant-group">
  <div class="name-price-group">
    <p>{{restaurant.name}}</p>
  </div>
  <a class="menu-link accent-color-1" href="{{url_for('showMenu', restaurant_id = restaurant.id)}}">Show Menu</a>
  <div class="edit-delete-group">
    <a class="modify-link accent-color-1" href="{{url_for('editRestaurant', restaurant_id = restaurant.id)}}">Edit</a>
    <span>&#9702;</span>
    <a class="modify-link accent-color-1" href="{{url_for('deleteRestaurant', restaurant_id = restaurant.id)}}">Delete</a>
  </div>
</div>

{% endfor %}

{% endblock %}