{% extends "layout.html" %}

{% block body %}

<h2>Search Results</h2>

<form class="search-form" action="{{url_for('searchResult')}}" method='POST'>
  <input class="search-field" type='text' name='search-keyword' value="{{search_keyword}}" placeholder="Search for restaurant or food..."  required>
  <input class="search-button accent-color-2" type='submit' value=&#128270;>
</form>

{% if restaurants_found %}
<h3>Restaurants</h3>

{% for restaurant in restaurants_found %}
<div class="search-group">
  <div class="restaurant-name">
    <p>{{restaurant.name}}</p>
    <p class="restaurant-address accent-color-1">{{restaurant.address}}</p>
  </div>
  <a class="menu-link accent-color-1" href="{{url_for('showMenu', restaurant_id = restaurant.id)}}">Show Menu</a>
</div>
{% endfor %}

<br />
{% endif %}

{% if menu_items_found %}
<h3>Menu Items</h3>

{% for menuItem in menu_items_found %}
<div class="search-group">
  <div class="name-price-group">
    <span class="name"><p>{{menuItem.name}}</p></span>
    <span class="price"><p>{{menuItem.price}}</p></span>
  </div>
  <div class="description">
    <p class="color-theme-2">{{menuItem.description}}</p>
  </div>
  <div class="restaurant-section">
    <p class="where-served">Served in: {{menuItem.restaurant.name}}, {{menuItem.restaurant.address}}</p>
    <a class="menu-link accent-color-1" href="{{url_for('showMenu', restaurant_id = menuItem.restaurant.id)}}">Show Menu</a>
  </div>
</div>
{% endfor %}

<br />
{% endif %}

<a class="cancel-link accent-color-1" href="{{url_for('showRestaurants')}}">Back to restaurants list</a>

{% endblock %}
